@import url('~/platform.css');

page{
    background-color: white;
}
ActionBar{
    align-content: center;
}

#label-actionbar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 27px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#layout-landing-page{
    background-color: #F1F9FF;
    height: 80%;
}

#main-label{
    font-size:  40px;
    padding-top:56px;
    color: #2699FB;
}
#despcription-label{
    color: #2699FB;
    font-size: 14px;
    text-align: center;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
    white-space: normal;
    line-height: 1px;
}
#pie-chart{
    /* padding-bottom:100px; */
}
#bottom-page{
    background-color: #F1F9FF;
    height: 20%;
    width: 100%;
}
#register-button{
    width: 50%;
    height: 65%;
    background-color: #0086FA;
    color: white;
}
#signin-button{
    width: 50%;
    height: 65%;
    background-color: white;
    color: black;
}


