#signup-page{
    height: 90%;
    font-family: "fontawesome-webfont";
    background-color: white;

}
#label-actionbar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
TextField{
    font-family: "fontawesome-webfont";
    padding-top:60px;
    height: 180px;
    width: 90%;
    color:#2699FB; 
}
#registration-button{
    margin-top: 30px; 
    background-color:  #2699FB;
    height: 200px;
    width: 95%;
    color: white;
}

#bottom-button{
    height: 10%;
    background-color: #BCE0FD;
    /* width: 100%; */
}
#label-bottom{
    color:#2699FB;
    font-size: 15;
    padding-bottom: 40px;
}